body {
  font: normal 1.2em monospace;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#js-editor {
  position: absolute;
  top: 0; right: 30%; bottom: 0; left: 0;
}

#js-output {
  background-color: rgba(0, 0, 0, 0.4);
  color: #00cc00;
  border-top: 1px dashed #ccffee;

  padding: 8px 0 8px 0;
  margin: 4px 0 4px 0;
  position: absolute;
  right: 0;bottom: 0; left: 0;
  height: 120px;
  overflow-x: hidden !important;
  overflow-y: auto;
  z-index: 10;
  word-wrap: break-word;
  width: 70%;
}

#js-output .text {
  padding: 0;margin: 0; overflow-x: hidden;
  word-wrap: break-word;
}

#js-output.text> * { display: block; }

/* *.unselectable { */
/*  -moz-user-select: none; */
/*  -khtml-user-select: none; */
/*  -webkit-user-select: none; */
/*  /* */
/*  Introduced in IE 10. */
/*  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */
/*  */ */
/*  -ms-user-select: none; */
/*  user-select: none; */
/* } */

.error   {color: #cc0000;font-weight: bold;}
.success {color: #00ff00;font-weight: bold;}

#js-sidebar {
  background-color: #eee;
  height: 100% !important;
  position: absolute;
  top: 0; right: 0;
  width: 30%;
  z-index: 20;
}

.btn {
  font-weight: bold;
  padding: 10px;
}

.top-right {
  position: absolute;
  top: 10px; right: 10px;
}

#js-sidebar .content {
  border-top: 1px dashed #333;
  position: relative;
  padding: 4px;
  top: 60px;
  height: 100%;
}

.content textarea {
  border: none;
  outline: none;
  width: 98%;
  max-width: 98%;
  min-height: 80%;
  max-height: 90%;
  font: normal 1.0em monospace;
  resize: none;
}

.content input[type="text"] {
  border: none;
  outline: none;
  width: 98%;
  max-width: 98%;
  padding: 4px;
  font: normal 1.0em monospace;
}

.stderr { color: #eee; }
